[flake8]
max-line-length = 100
exclude =
    .git,
    .out,
    .pytest_cache,
    .venv,
    .vscode,
    **/__pycache__,
    data,
    docs,
    logs,
extend-ignore =
    # E126: continuation line over-indented for hanging indent
    E126,
    # E203: whitespace before `,`, `;`, or `:`
    E203,
    # F541: f-string is missing placeholders
    F541,
